*, p {
  margin: 0;
  padding: 0;
}

body {
  color: #4A4A4A;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  background-color: #ffffff;
}

html {
  height: 100%;
  overflow-x: hidden;
}

.container {
  margin: auto;
  max-width: 1000px;
  width: 100%;
}

header {
  background-color: #0E0C50;
  color: #FF9A00;
  .logo img {
    max-width: 100%;
  }
  .row .col {
    padding: 10px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .htitle {
    line-height: 1;
    font-weight: bold;
    font-size: 14px;
  }
  .phone-box {
    border: 1px #ffffff solid;
    border-radius: 0px 5px 5px 0px;
    padding: 5px 5px 5px 10px;
    font-size: 11px;
    color: #ffffff;
    border-left: none;
    position: relative;
    .phone-icon {
      background: transparent url('../img/phone.png') 0% 0% no-repeat;
      width: 34px;
      height: 34px;
      position: absolute;
      background-size: contain;
      top: -3px;
      left: -30px;
    }
  }
}

.orange-box {
  background-color: #F99C00;
  padding: .5rem;
  color: #ffffff;
}

.blue-box {
  background-color: #0E0C50;
  padding: 20px;
  color: #ffffff;
}

.bordered-box {
  border: 1px #0E0C50 solid;
  padding: .5rem;
  color: #0E0C50;
}

ul {
  &.check-o {
    padding: 20px 20px 20px 45px;
    li {
      &:before {
        content: '\2713';
        display: inline-block;
        color: #F99C00;
        padding: 0 12px 0 0;
        font-weight: 700;
        margin-left: -25px;
      }
      list-style-type: none;
    }
  }
  &.circle-list {
    list-style-type: none;
    li:before {
      content: '\00B7';
      display: inline-block;
      padding: 0 2px 0 0;
      font-weight: 700;
    }
  }
}

blockquote {
  &:before {
    content: open-quote;
    font-family: sans-serif;
  }
  &:after {
    content: close-quote;
    font-family: sans-serif;
  }
}

.btn-orange {
  color: #ffffff;
  background-color: #FF9A00;
  border-color: #FF9A00;
  &:hover {
    color: #ffffff;
    background-color: #f9a72b;
    border-color: #f9a72b;
  }
}

.btn-silver {
  color: #4A4A4A;
  background-color: #F3F3F3;
  border-color: #D4D4D4;
  font-size: 18px;
  font-weight: 700;
  &:hover {
    color: #4A4A4A;
    background-color: #e8e6e6;
    border-color: #D4D4D4;
  }
  .caret {
    position: relative;
    margin-left: 5px;
    &:before {
      content: '';
      position: absolute;
      top: 6px;
      left: 0;
      border-top: 8px solid #ffa100;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
    }
    &:after {
      content: '';
      position: absolute;
      left: 3px;
      top: 6px;
      border-top: 5px solid #F3F3F3;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
    }
  }
  &:hover .caret:after {
    border-top: 5px solid #e8e6e6;
  }
}

.rating-section {
  .rs-text-cnt {
    .rs-title {
      font-size: 23px;
    }
    .rs-sectitle {
      font-size: 16px;
    }
  }
  .rs-rate-cnt .rs-rate {
    padding-top: 5px;
    img {
      max-width: 75px;
    }
  }
}

.reservation-box {
  padding: 0 15px;
}

.dates-box .bordered-box {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  .maintext {
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 700;
  }
  .smalltext {
    font-size: 12px;
  }
  .deal-box {
    background-color: #F99C00;
    margin: 15px 0;
    color: #ffffff;
    font-weight: 700;
    font-size: 17px;
    .db-arrow {
      background-color: #0E0C50;
      position: relative;
      padding: 10px 0;
      display: inline-block;
      &:before {
        border-left: 30px solid #0E0C50;
        border-top: 34px solid transparent;
        border-bottom: 34px solid transparent;
        content: "";
        height: 0;
        right: -30px;
        position: absolute;
        top: 0;
        width: 0;
      }
    }
    .db-text {
      text-transform: uppercase;
      padding: 10px 0 10px 20px;
    }
  }
}

.video-box {
  margin: 20px 0;
  iframe {
    width: 100%;
    height: 200px;
  }
}

.info-box {
  font-size: 16px;
  p {
    margin-bottom: 20px;
  }
  .ib-maintitle {
    font-size: 28px;
    font-weight: 700;
  }
  .ib-title {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .ib-sectitle {
    text-transform: uppercase;
    margin-bottom: 0;
    font-weight: 700;
  }
  .ib-txt {}
  ul.check-o li {
    margin-bottom: 20px;
  }
  .blue-box {
    padding: 50px 40px 31px;
    blockquote {
      &:before {
        font-size: 70px;
        position: absolute;
        margin-top: -32px;
        margin-left: -27px;
      }
      &:after {
        font-size: 70px;
        position: absolute;
        margin-top: -16px;
        margin-left: 12px;
      }
    }
  }
  .amenities-box {
    padding: 0 28px;
    .col {
      padding: 0;
      .check-o {
        padding: 0 0 0 2px;
        li {
          font-size: 14px;
          margin: 0;
          padding-left: 13px;
          &:before {
            padding: 0 4px 0 0;
            font-weight: 700;
            margin-left: -10px;
          }
        }
      }
    }
  }
  .review-tab {
    border-bottom: 3px solid #D7D7D7;
    height: 38px;
    .nav-item {
      width: 50%;
      .nav-link {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 700;
        color: #4A4A4A;
        padding: 7px 10px;
        &:hover {
          border: none;
        }
        &.active {
          color: #FFA000;
          border: none;
          border-bottom: 3px #FFA000 solid;
        }
      }
    }
  }
  .review-tab-content {
    padding: 25px 0 0;
    position: relative;
    blockquote {
      text-align: center;
      color: #FFA000;
      font-size: 18px;
      font-weight: 700;
      padding: 0 16px;
      &:before {
        font-size: 58px;
        position: absolute;
        margin-top: -25px;
        left: 0;
      }
      &:after {
        font-size: 58px;
        position: absolute;
        margin-top: -16px;
        right: 0;
      }
    }
  }
  .ib-video-cnt {
    margin: 25px -16px;
    iframe {
      height: 200px;
      width: 100%;
    }
  }
  .ib-btn-cnt {
    margin: 0;
    .btn-silver {
      width: 100%;
      padding: 20px;
    }
  }
}

.terms-box {
  padding: 35px;
  .info-box {
    text-align: center;
    a {
      text-decoration: underline;
    }
  }
}

.email-box {
  background-color: #4A4A4A;
  color: #ffffff;
  text-align: center;
  padding: 25px 15px;
  .ib-txt {
    margin: 0 5px;
  }
  a {
    color: #FF9A00;
    font-weight: 700;
  }
  .form-group {
    padding: 20px 0 0;
    position: relative;
    width: 100%;
    button {
      position: absolute;
      top: 22px;
      right: 4px;
      border-radius: 50px;
      font-weight: 700;
      font-size: 24px;
      padding: 0px 7px;
    }
    .form-control {
      border-radius: 50px;
      padding: 20px;
    }
  }
}

footer {
  background-color: #F3F3F3;
  text-align: center;
  padding: 30px 15px;
  font-size: 12px;
  .flogo-cnt {
    margin-bottom: 10px;
  }
  .finfo-box {
    padding: 20px 0;
    p {
      margin-bottom: 5px;
    }
    a {
      color: #4A4A4A;
    }
  }
  .bottom-box p {
    margin-bottom: 5px;
    color: #9B9B9B;
  }
}